**/node_modules

dist
build
out

coverage
.cache

*.min.js
*.min.css
*.bundle.js
*.map

*.log
*.tmp
*.bak

docs/_site

.venv/
.venv-classic/
.venv-nogil/
.ruff_cache/
.mypy_cache/
.pytest_cache/
__pycache__/
*.pyc
uv.lock
